.slider-img {
    overflow-x: auto;
}

.slider-img > div {
    display: flex;
    position: relative;
    background: antiquewhite;
}

.slider-img > div > div {
    width: 370px;
    left: 0;
    position: relative;
    padding: .1%;
    height: 350px;
}

.slider-img > div > div > img {
    width: 100%;
    border-radius: 15px;
    height: 100%;
}

.slider {
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
}

.slider-remote {
    width: 100%;
    display: flex;
    justify-content: center;
}
.slider-remote > div {
    width: 400px;
    margin: 0 auto;
    background: #ccc;
    height: 12px;
    position: relative;
    border-radius: 15px;
}

.slider-remote > div > span {
    position: absolute;
    border: 1px solid aqua;
    display: block;
    top: -7px !important;
    cursor: pointer;
    height: 24px;
    width: 24px;
    background: #fff;
    border-radius: 100%;
}

::-webkit-scrollbar{
    display: none;
}
